
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Task Management API</h1>
        <p>Welcome to Task Management API :  
            <a href="https://documenter.getpostman.com/view/22918495/VUqoRejX"> Please Click here for documentations</a>
        </p>
        
    </div>
</body>
</html>
